body{
    margin: 0px;
    padding: 0px;
    background-color: #dcd2d2;
}
header{
    display: flex;
    background-color: #b79999;
    padding: 10px;
    margin: 5px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav{
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
}
.nav li{
    list-style: none;

}
.nav a{
    color: white;
    text-decoration: none;
}
.nav a:hover{
    color: black;
    font-weight: bold;
}
.phone img{
    width: 20px;
    height: 20px;
    border-radius: 10%;
}
.phone{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}
.phone:hover{
    color: rgb(210, 199, 199);
    font-weight: bold;
}
.user img{
    width: 20px;
    height: 20px;
    border-radius: 10%;
}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
}
.user a{
    color: white;
    text-decoration: none;
}
.user li{
    list-style: none;
}
.user a:hover{
    color: black;
    font-weight: bold;
}
.add button{
   padding: 10px 20px;
    background-color: rgb(220, 141, 84);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border :2px solid black;
}
.add button:hover{
    background-color: rgb(220, 141, 84);
    color: black;
    font-weight: bold;
}
.main{
    background-image:url('./background1.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.items{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.item-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a39292;
    padding: 10px;
    margin: 5px 10px;
    border-radius: 10px;
}
.item-1 img{
    width: 70px;
    height: 70px;
    border-radius: 5px;
}
.item-1:hover{
    background-color: #695555;
    cursor: pointer;
}
.featured-listings{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}
.footer{
    background-color: #a39292;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    color: white;

}
.footer-section.about li a{
    color: white;
    text-decoration: none;
}
@media screen and (max-width:1024px){

    header{
        display:flex;
        flex-wrap:nowrap;
        justify-content:space-between;
        align-items:center;
        gap:8px;
        padding:10px;
    }

    .logo{
        gap:5px;
    }

    .logo img{
        width:35px;
        height:35px;
    }

    .logo h1{
        font-size:28px;
    }

    .nav{
        display:flex;
        flex-wrap:nowrap;
        gap:10px;
    }

    .nav a{
        font-size:14px;
    }

    .phone{
        display:flex;
        align-items:center;
        gap:5px;
    }

    .phone img{
        width:15px;
        height:15px;
    }

    .phone h3{
        font-size:14px;
    }

    .user{
        display:flex;
        align-items:center;
        gap:5px;
    }

    .user img{
        width:15px;
        height:15px;
    }

    .user a{
        font-size:14px;
    }

    .add button{
        width:110px;
        padding:8px;
        font-size:13px;
    }
}
@media screen and (max-width:768px){

    header{
        flex-direction:column;
        gap:15px;
    }

    .logo{
        justify-content:center;
    }

    .nav{
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    .contact-user{
        display:flex;
        justify-content:center;
        align-items:center;
        gap:20px;
    }

    .phone{
        display:flex;
        align-items:center;
        gap:5px;
    }

    .phone img{
        width:15px;
        height:15px;
    }

    .phone h3{
        font-size:14px;
    }

    .user{
        display:flex;
        align-items:center;
        gap:5px;
    }

    .user img{
        width:15px;
        height:15px;
    }

    .user a{
        font-size:14px;
    }

    .add{
        display:flex;
        justify-content:center;
    }

    .add button{
        width:150px;
    }

}
@media screen and (max-width:364px){

    .logo h1{
        font-size:28px;
    }

    .nav{
        gap:10px;
    }

    .nav a{
        font-size:15px;
    }

    .add button{
        width:130px;
        font-size:14px;
    }
}